/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo de la barra de navegación */
nav {
  background-color: #333;
  color: white;
  padding: 1em 2em;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1000;
}

/* Logo y texto */
.nav-logo {
  display: flex;
  align-content: center;
  margin-left: 5%;
}

.nav-logo h1 {
  margin: 20px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Logo en la barra de navegación */
.nav-logo img {
  height: 70px;
  border-radius: 50%;
}

/* Lista de navegación alineada a la derecha */
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  opacity: 0.8;
}

.carrito-compras img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-vaciar-carrito  {
  display: none;
}

.btn-ver-carrito {
  display: none;
}

.borrar-producto {
  background-color: #cd643f;
  color: white;
  cursor: pointer;
}

#cerrar-carrito {
  color: white;
  background-color: #4d5357;
  cursor: pointer;
  width: 120px;
  margin-top: 5px;
  font-size: 15px;
  height: 30px
}

#borrar-carrito {
  color: rgb(255, 255, 255);
  background-color: #c23f36;
  cursor: pointer;
  width: 120px;
  margin-top: 5px;
  font-size: 15px;
  height: 30px
}

#comprar {
  color: white;
    background-color: #1178b1;
    cursor: pointer;
    width: 90px;
    margin-top: 5px;
    font-size: 15px;
    height: 30px
}

/* Estilo para la sección de lead art */
.lead-art {
  position: relative;
  color: white;
  width: 100%;
  height: 700px; 
  background-color: #333;
  background-image: url("assets/misc/lead.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

/* Estilo para la sección principal */
main {
  flex: 1;
  padding: 2em;
  background-color: #f4f4f4;
}

.content-section {
  margin-bottom: 2em;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-wrap: wrap;
}

.content-section h2 {
  margin-top: 0;
}

/* Estilo para el pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Estilo para el contenedor de la grilla de productos */
.grilla-productos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para cada producto individual */
.producto {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fafafa;
  padding: 10px;
}

.producto img {
  width: 100%;
  height: auto;
}

.producto h3 {
  margin: 10px 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.producto p {
  margin: 5px 0;
  color: #666;
  font-size: 1em;
  font-weight: 600;
}

.producto .btn {
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 9%;
  width: 75%;
}

.btn-agregar-carrito {
  background-color: rgb(153 83 35);
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-agregado-carrito {
  background-color: rgb(144, 238, 144);
  color: white;
  border-radius: 6px;
  cursor: not-allowed;
}

/* Estilos Contenedor de Carrito*/

.contenedor-carrito.ocultar {
  display: none;
}

/* Efectos de hover */
.btn-agregar-carrito:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.productos-carrito {
  list-style: none;
  list-style-image: url("/Sitio\ ecommerce/assets/misc/light-blue-square.svg");
  text-align: left;
  padding: 1px 10px 0px 10px;
}

.titulo-carrito {
  margin-top: 10px;
  font-size: 18px;
}

.total {
  color: gold;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*   Pagina Registracion */

.contenedor-formulario {
  background-color: rebeccapurple;
  width: 100%;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  margin: 0; 
  padding: 0; 
}

.formulario {
  width: 100%; 
  max-width: 400px; 
  margin: 10% auto; 
}

.formulario input {
  display: block; 
  width: 100%; 
  margin-bottom: 10px; 
  padding: 10px; 
  box-sizing: border-box; 
  height: 40px;
}

.formulario button {
  border-radius: 20px;
  background-color: #6fd56f;
  width: 100px;
  height: 35px;
}

.error {
  font-size: 12px;
  color: red;
  background-color: black;
  position: relative;
  display: inline-block;
  bottom: 5px;
}

.contenedor-sweetalert {
  padding: 0 20px;
  width: 50% !important;
}